<app-header
  title="About"
  [isAboutShown]="false"
  [isBackShown]="true"
  [isAboutShown]="true"
  [isAboutDisabled]="true"
></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h1 class="ion-text-center">About</h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label color="primary" class="ion-text-wrap">
                <h2>
                  This app was made for the subject software metrics For more
                  information see the README at
                </h2>
              </ion-label>
            </ion-item>
            <ion-button
              href="https://github.com/ArturoG1z/HalsteadMetrics4Py"
              target="_blank"
              color="github"
              expand="block"
            >
              <ion-icon slot="icon-only" name="logo-github"></ion-icon>
            </ion-button>
            <ion-item>
              <ion-label color="secondary" class="ion-text-center">
                MADE BY
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Felipe Arturo González López</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Jose Rodolfo Martinez Anaya</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
