<app-header
  title="Metricas Halstead"
  [isAboutShown]="true"
  [isBackShown]="false"
  [isHomePage]="true"
></app-header>

<ion-content>
  <ion-input
    type="file"
    accept=".txt,.py"
    class="btn-hidden"
    title=" "
    #fileInput
    (change)="onChangeFile($event)"
  ></ion-input>

  <ion-card>
    <ion-card-header class="animate__animated animate__fadeIn">
      <ion-card-subtitle>
        {{ file.content.length === 0 ? 'Info:' : file.type}}
      </ion-card-subtitle>
      <ion-card-title [color]="'primary'">
        {{ file.content.length === 0 ? 'Abre un archivo para empezar el calculo de metricas' 
        : 'Archivo abierto: ' + file.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="9">
            <ion-button
              color="primary"
              class="fab-button-top-w-desc"
              (click)="openFile()"
              expand="block"
            >
              <ion-icon slot="start" name="document"></ion-icon>
              Abrir archivo
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button
              color="danger"
              class="fab-button-top-w-desc"
              (click)="onClickClearVariables()"
              expand="block"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngIf="(file.content.length > 0 && this.metrics === null) ||
      (this.metrics !== null && (!isItStored || canBeUpdated))">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-button
              *ngIf="file.content.length > 0 && this.metrics === null"
              color="secondary"
              class="fab-button-top-w-desc"
              (click)="onClickProcessData()"
              expand="block"
            >
              <ion-icon slot="start" name="cog"></ion-icon>
              Procesar contenido
            </ion-button>
            <ion-button
              *ngIf="this.metrics !== null && (!isItStored || canBeUpdated)"
              color="secondary"
              class="fab-button-top-w-desc"
              (click)="onClickSaveData()"
              expand="block"
            >
              <ion-icon slot="start" name="save"></ion-icon>
              Guardar en base de datos
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item
      *ngIf="file.content.length !== 0"
      detail
      button
      (click)="presentCodeModal()"
      class="animate__animated animate__fadeIn"
    >
      <ion-label>Ver contenido</ion-label>
    </ion-item>
    <div *ngIf="metrics !== null">
      <ion-item detail button (click)="presentTokensModal('Operators')" class="animate__animated animate__fadeIn">
        <ion-label>Ver Operadores</ion-label>
      </ion-item>
      <ion-item detail button (click)="presentTokensModal('Operands')" class="animate__animated animate__fadeIn">
        <ion-label>Ver Operandos</ion-label>
      </ion-item>
      <ion-item class="animate__animated animate__fadeIn">
        <ion-label color="primary">
          <h2 color="tertiary" class="ion-text-center">Metricas</h2>
        </ion-label>
      </ion-item>
      <ion-item class="animate__animated animate__fadeIn">
        <ion-label color="primary">Metrica</ion-label>
        <ion-note slot="end" color="secondary">Valor</ion-note>
      </ion-item>
      <ion-item *ngFor="let metric of metricsArray" class="animate__animated animate__fadeIn">
        <ion-label>{{ metric[0] }}</ion-label>
        <ion-label slot="end" color="tertiary">
          {{ myParseFloat(metric[1]) }}
        </ion-label>
      </ion-item>
    </div>
    <app-credits></app-credits>
  </ion-card>
</ion-content>
