<app-header
  title="Halstead Metrics"
  [isAboutShown]="true"
  [isBackShown]="false"
  [isHomePage]="true"
></app-header>

<ion-content class="ion-padding">
  <ion-input
    type="file"
    accept=".txt,.py"
    class="btn-hidden"
    title=" "
    #fileInput
    (change)="onChangeFile($event)"
  ></ion-input>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>
          {{ file.content.length === 0 ? 'Open a file to start the calculation
          of the Halstead metrics' : 'File opened: ' + file.name }}
        </h2>
      </ion-label>
    </ion-list-header>
    <ion-item
      *ngIf="file.content.length > 0"
      detail
      button
      (click)="presentCodeModal()"
    >
      <ion-label>See content in the file</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button
        color="primary"
        class="fab-button-top-w-desc"
        data-desc="Open File"
        (click)="openFile()"
      >
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        color="danger"
        class="fab-button-top-w-desc"
        data-desc="Clear"
        (click)="onClickClearVariables()"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button
        *ngIf="file.content.length > 0 && this.metrics === null"
        color="secondary"
        class="fab-button-top-w-desc"
        (click)="onClickProcessData()"
        data-desc="Process data"
      >
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
